<nav class="navbar navbar-expand-lg navbar-dark fixed-top eT-nav">
<div class="container-fluid">
  <!-- Logo -->
  <a class="navbar-brand" href="{{ pathto('index') }}">
    <img src="{{ pathto('_static/' + logo, 1) }}" class="img-fluid" alt="eTlogo" width="30" height="30">
  </a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="collapsibleNavbar">
  <ul id="nav-link" class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="{{ pathto('user_manual') }}">User manual</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ pathto('features') }}">Features</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ pathto('about_eT') }}">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ pathto('research') }}">Research</a>
    </li>
    <li class="nav-item">
      <button class="dropdown-btn">Version <i class="fa fa-caret-down"></i>
         <div class="dropdown-content">
            <a href="https://etprogram.org/">Master</a>
            <a href="https://etprogram.org/development-website">Development</a>
         </div>
      </button>
    </li>
    <li class="nav-item" id="nav-link-download">
      <a class="nav-link" href="https://gitlab.com/eT-program/eT/-/releases">Download</a>
    </li>
    <li class="nav-item" id="nav-link-workshop">
      <a class="nav-link" href="{{ pathto('workshop')}}">Workshops</a>
    </li>
  </ul>
  <form action="{{ pathto('search') }}" class="form-inline" method="get">
    <input type="text" name="q" class="form-control mr-sm-2 search-field" placeholder="Search..." aria-label="Search">
    <input type="hidden" name="check_keywords" value="yes">
    <input type="hidden" name="area" value="default">
  </form>
</div>
</div>
</nav>
